.photo-item {
  width: 100%;
  height: auto;
  display: block;
  /* Ensure images don't break across columns */
  break-inside: avoid;
  margin-bottom: 0.5rem;
}

.photo-grid {
  /* display: grid; */
  /* gap: 0.5rem; */
  /* Add these for a masonry-like effect */
  column-count: 3;
  column-gap: 0.5rem;
}

@media (max-width: 768px) {
  .photo-grid {
    /* grid-template-columns: repeat(2, 1fr) !important; */
    column-count: 2 !important;
  }
}

@media (max-width: 480px) {
  .photo-grid {
    /* grid-template-columns: 1fr !important; */
    column-count: 1 !important;
  }
}
